@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap');:root {
	--navbar-light-blue: #ffffff;
	--dark-green: #005e62;
	--dark-blue: #0a3641;
	--light-blue: #96afb8;
	--vipps-orange: #ed8b44;
	--notif-red: #d1495b;
	--success-green: #6fbd63;
	--font-read: 'Montserrat', sans-serif
}


.red {
	background-color: var(--notif-red);
}
.green {
	background-color: var(--success-green);
}

.blue {
	background-color: var(--dark-blue);
}

html,
body {
	margin: 0%;
	padding: 0%;
	font-family: 'Bebas Neue', cursive;
}


.navbar-container {
	max-width: 100vw;
	height: 65px;
	background-color: var(--navbar-light-blue);
	box-shadow: 1px 1px 15px 1px #00000015;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.navbar-mobile {
	width: 100vw;
	height: 95px;
	background-color: var(--navbar-light-blue);
	display: none;
	align-items: flex-end;
	flex-direction: column;
}
.navbar-mobile-icons {
	width: 100%;
	height: 70%;
	display: none;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	flex-direction: row;
}

.navbar-buttons {
	width: calc(100% / 2);
	max-width: 600px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0%;
	list-style: none;
}

.navbar-button {
	height: 100%;
	width: calc(100% / 4);

	position: relative;
}
.navbar-button::before {
	content: '';
	position: absolute;
}

.navbar-button:hover::before {
	content: '';
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	background-color: #00000010;

	animation: animateIn 0.4s cubic-bezier(0.7, 0.04, 0.95, 0.89) forwards;
}

.navbar-button-text {
	color: var(--dark-blue);
	text-decoration: none;
	font-size: 1.2rem;
	height: 100%;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

[data-active]::after {
	content: '';
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 2px;
	background-color: var(--dark-blue);
}

@media screen and (max-width: 740px) {

	.navbar-container {
		display: none;
	}
	.navbar-mobile {
		display: flex;
	}
	.navbar-mobile-icons { 
		display: flex;
	}


	.navbar-buttons {
		max-width: 100vw;

		background-color: var(--vipps-orange);
		height:50%;
		width: 100%;
	}

}

@keyframes animateIn {
	from {
		width: 0%;
	}
	to {
		width: 100%;
		height: 100%;
	}
}


#header-image-container {
	height: 500px;
	max-height: 450px;

	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}





.content-section {
	display: flex;
	flex-direction: column;
}

.sales-header {
	max-width: 100vw;
	width: 100vw;
	height: 300px;
	background-color:#f89b58;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	color: white;
}

.redirect-button {
	width: 20%;
	height: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--light-blue);

	border: none;
	border-radius: 8px;

	font-size: 1.2rem;
	font-weight: 600;
	color: var(--dark-blue);
	box-shadow: 3px 3px 10px 1px #00000025;
	transition: all 0.2s linear;

}

.redirect-button:hover {
	scale: 1.05;
	cursor: pointer;
	transition: all 0.2s linear;
}

.selection-list {
	max-width: 100vw;
	height: 600px;

	background-color: #ed8b44;
}

.selection-card-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;

	overflow-x: hidden;

	border: 1px solid black;
}

.card-container {
	position: relative;
	width: 250px;
	font-family: var(--font-read);
}

.card-shopping-cart {
	width: 50px;
	height: 50px;
	border: 1px solid var(--notif-reds);

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 10px;
	left: 10px;

	z-index: 3;
	
	box-shadow: 1px 1px 15px 1px #00000015;
}

.image-container {
	background-color: white;
	width: 100%;
	height: 300px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.image-container-image {
	background-color: white;
	width: 90%;
	height: 90%;

	border-radius: 4px;
}
.card-info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100px;
	width: 250px;
}
