@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
:root {
	--navbar-light-blue: #ffffff;
	--dark-green: #005e62;
	--dark-blue: #0a3641;
	--light-blue: #96afb8;
	--vipps-orange: #ed8b44;
	--notif-red: #d1495b;
	--success-green: #6fbd63;
	--font-read: 'Montserrat', sans-serif;
}

* {
	box-sizing: border-box;
}

.red {
	background-color: var(--notif-red);
}
.green {
	background-color: var(--success-green);
}

.blue {
	background-color: var(--dark-blue);
}

html,
body {
	margin: 0%;
	padding: 0%;
	font-family: 'Nanum Gothic', sans-serif;
	max-width: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.flex-col {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.flex-row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.navbar-container {
	max-width: 100vw;
	height: 65px;
	background-color: var(--navbar-light-blue);
	box-shadow: 1px 1px 15px 1px #00000015;
	justify-content: space-around;
}

.navbar-logo {
	width: fit-content;
	height: 100%;
}

.navbar-logo > img {
	height: 80%;
}

.navbar-mobile {
	width: 100vw;
	height: 95px;
	background-color: var(--navbar-light-blue);
	display: none;
	align-items: flex-end;
	flex-direction: column;
}
.navbar-mobile-icons {
	width: 100%;
	height: 70%;
	display: none;
	align-items: center;
	justify-content: center;
}

.navbar-buttons {
	width: calc(100% / 2);
	max-width: 600px;
	height: 100%;

	justify-content: space-between;
	margin: 0%;
	list-style: none;
}

.navbar-button {
	height: 100%;
	width: calc(100% / 4);
	position: relative;
}

.navbar-button > a {
	font-size: 1rem;
}
.navbar-button::before {
	content: '';
	position: absolute;
	width: 0px;
	height: 100%;
	transition: all 0.3s linear;
	background-color: #00000010;

}

.navbar-button:hover::before {
	content: '';
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	background-color: #00000010;
	transition: all 0.3s linear;
}

.navbar-button-text {
	color: var(--dark-blue);
	text-decoration: none;
	font-size: 1.2rem;
	height: 100%;
	width: 100%;
}

[data-active]::after {
	content: '';
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 2px;
	background-color: var(--dark-blue);
}

@media screen and (max-width: 740px) {
	.navbar-container {
		display: none;
	}
	.navbar-mobile {
		display: flex;
	}
	.navbar-mobile-icons {
		display: flex;
	}

	.navbar-buttons {
		max-width: 100vw;
		background-color: var(--vipps-orange);
		height: 50%;
		width: 100%;
	}
}

.header-image {
	height: 350px;
	max-width: 100vw;
	background-image: url(../public/background.jpg);
	background-size: cover;
}

.header-image > * {color: white;}

.content-section {
}

.sales-header {
	width: 100vw;
	margin-top: 5px;

	height: 150px;

	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,158,191,1) 0%, rgba(3,141,208,1) 27%, rgba(0,212,255,1) 63%);
	color: white;
}

.sales-header > h2 {
	font-size: 1.2rem;
}

.redirect-button {
	position: relative;
	height: 40px;
	width: 120px;

	border: 1px solid white;
	color: white;
	border-radius: 4px;
	background-color: transparent;
	font-size: 1.1rem;
	transition: all 0.2s linear;
}

.border-black {
	border: 1px solid black;
	color: black;
	border-radius: 4px;
}

.redirect-button > p {
	z-index: 2;
}

.redirect-button::after {
	content: '';
	position: absolute;
	width: 0px;
	left: 0%;
	top: 0%;
	height: 100%;
	background-color: black;
	border-radius: 4px;
	transition: all 0.2s linear;
	z-index: 0;
}

.redirect-button:hover {
	cursor: pointer;
	color: white;
}

.redirect-button:hover::after {
	content: '';
	width: 100%;
	left: 0%;
	top: 0%;
	height: 100%;
	background-color: black;
	cursor: pointer;
	transition: all 0.2s linear;
}

/* jacket selection section */



.selection-list {
	width: 100vw;
	padding: 25px;
	margin-bottom: 150px;
	gap: 35px;
}

.selection-card-container {
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	gap: 20px;

}

.card-container {
	max-width: 100vw;
	position: relative;
	font-family: var(--font-read);
}

.card-shopping-cart {
	width: 35px;
	height: 35px;
	border: 1px solid var(--notif-reds);
	border-radius: 50px;
	position: absolute;
	top: 10px;
	left: 10px;
	color: var(--notif-red);
	z-index: 5;
	background-color: white;
	box-shadow: 1px 1px 15px 1px #00000010;
}



.image-container {
	background-color: white;
	width: 100%;
	height: 300px;
	border: 1px solid #00000015;
	border-radius: 4px;
}
.image-container:hover > .image-container-image {
	transition: all 0.2s linear;
	scale: 1.02;
}

.image-container-image {
	background-color: white;
	width: 90%;
	height: 90%;
	transition: all 0.2s linear;

	border-radius: 4px;
}
.card-info-container {
	align-items: flex-start;
	height: 100px;
	width: 250px;
}

@media  screen and (max-width: 640px) {
	.selection-card-container {
		gap: 5px;

	}
	.card-container {
		max-width: calc(100% / 2 - 5px);
		min-width: calc(100% / 2 - 20px);
		height: auto;
		margin-bottom: 20px;
	}	

	.image-container {
		width: 100%;
		height: fit-content;
	}
	.image-container-image {

	}
	.card-info-container {
		width: 100%;
		height: 200px;
		border: 1px solid black;
	}
}


/* go to top button */
/* pga ingen JS så er den alltid synlig */
.go-to-top-btn {
	background-color: var(--navbar-light-blue);
	width: 100px;
	height: 40px;
	position: fixed;
	bottom: 10px;
	right: 10px;

	text-decoration: none;
	color: #0a3641;
	font-size: large;
	transition: all 0.2s;
}
.go-to-top-btn:hover {
	scale: 1.03;
	transition: all 0.2s;
}

/* Footer section */

.footer-container {
	height: 400px;
	max-width: 100vw;

	background-color: var(--dark-blue);
}

.footer-container-info {
	height: 400px;
	max-width: 1100px;
	width: 100vw;

	color: white;
}

.footer-box {
	width: 33%;
	justify-content: baseline;
	font-family: var(--font-read);
	font-size: small;
	font-weight: 100;
}

.footer-help {
}

.footer-about {
}

.footer-payment {
}

.footer-title {
	text-decoration: underline;
}

.footer-info-list {
	list-style: square;
	font-size: medium;
	align-items: flex-start;
	gap: 10px;
}

.footer-contact-info {
	gap: 50px;
	width: 100%;
	height: 50%;

	color: white;
}

/* Jackets page */

#jacket-main-content {
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.jacket-sale-container {
	max-width: 100vw;
	width: 100vw;
	height: 200px;
	background-color: var(--dark-green);
	display: flex;
	align-items: center;
	justify-content: center;
}

.jacket-items-container {
	width: 100vw;
	height: 100vh;

	background-color: var(--vipps-orange);

	display: flex;
	gap: 10px;
}
.jacket-sort-container {
	width: 30%;
	height: fit-content;
	min-height: 400px;
	background-color: #96afb8;

	display: flex;
	justify-content: center;
	gap: 10px;
}
.jacket-jackets-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 7px;

	width: 100%;
	background-color: white;
}

.jacket-jacket-card-container {
	background-color: var(--vipps-orange);
	border: 1px solid black;
	height: 450px;
	max-width: 350px;
}
